.headings-projects{
    width: 100%;
    height: 60px;
    background-color: rgba(1,1,1,0.7);
    color: rgba(255,255,255,0.8);
    display: flex;
    padding-left: 5mm;
    align-items: center;
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    /* display: none; */
}
.carousel::-webkit-scrollbar{
    width: 2vw;
}
.carousel::-webkit-scrollbar-thumb{
    background-color: #aaa;
}
.carousel::-webkit-scrollbar-track{
    background-color: #011;
}

.carousel{
    display: flex;
    width: 90%;
    scroll-snap-type: x mandatory;
    scroll-padding: 25px;
    column-gap: 20px;
    /* overscroll-behavior: x; */
    overflow-x:scroll;
    /* scroll-behavior: auto; */
    scrollbar-width: none;
    /* -webkit-overflow-scrolling:auto; */
    /* scrollbar-width: auto; */
    scrollbar-base-color: black;
    margin-bottom: 10mm;
    /* scrollbar-width: none; */
}

.main-container-carousel{
    background-color: rgba(255,255,255,0.11);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2mm;
    margin-bottom: 2mm;
    box-shadow: 0px 0px 40px rgba(255,255,255,0.6) inset;
}
article{
    flex: 0 0 auto;
    height: 85%;
    width: 100%;
    /* margin-right: 4mm; */
    background-color: yellow;
}

.carousel div{
    flex: 0 0 auto;
    height: 100%;
    width: 80%;
    /* margin-right: 4mm; */
    /* background-color: orange; */
}

.carousel div div{
    width: 100%;
    /* background-color: white; */
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.git-btn{
    width: 120px;
    height: 40px;
    background-color: #FFC107;
    color: black;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    border-radius: 3px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3mm;
    transition: box-shadow 250ms;
    cursor: pointer;
    text-decoration: none;
}
.git-btn:hover{
    box-shadow: 0px 0px 24px #FFC107;
}

.video-btn{
    width: 120px;
    height: 40px;
    background-color: #404040;
    color: white;
    border-radius:3px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:not-allowed;
    text-decoration: none;

}

main{
    transition: height 500ms linear;
}


@media screen and  (max-width:600px) {

    .headings-projects{
        font-size: 12px;
        width: 90%;
        height: 40px;
    }

    .carousel::-webkit-scrollbar{
        width: 0px;
    }
    .carousel::-webkit-scrollbar-thumb{
        background-color: #aaa;
    }
    .carousel::-webkit-scrollbar-track{
        background-color: #011;
    }

    .git-btn{
        width: 80px;
        height: 30px;
    }
    .video-btn{
        width: 80px;
        height: 30px;
    }
}